@page
@model IndexModel
@{
    ViewData["Title"] = "Pizza Store";
}

<div class="container text-center">
    <h1 class="display-4">!!!!! PIZZA !!!!!</h1>
    <a class="btn btn-light" asp-page="PizzaSale">Pizza Sale</a>
</div>

<div class="container w-80 text-center">
    <a asp-page="PizzaSale">
        <img src="~/img/evdipizzahome.jpg" />
    </a>
</div>