@page
@model RazorPages_PizzaStore.Pages.Checkout.ThankYouModel
@{
    ViewData["Title"] = "Thank You";
}

<h1 style="text-align:center">Thank You</h1>

<h2 style ="text-align:center">Enjoy Your Meal</h2>
@*<a asp-page="/Checkout/ThankYou">Confirm</a>*@